*{
    margin: 0;
    padding: 0;
}

.grey{
    color: grey;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 70px;
}
.center{
    text-align: center;
}
i{
   font-size: 20px;
}
img{
    width: 100%;
}
.p8{
    padding:8px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.plr{
    padding: 0px 10px;
}
.mb10{
    margin-bottom: 10PX;
}
.mr10{
    margin-right: 10px;
}
.sys-card{
    box-shadow: 0px 0px 5px 0px grey;
}
.btn {display: flex;}